<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>{% block title %}base{% endblock %}</title>
</head>
<body>
    <ul id="nav">
        <!-- <li><a href="index.htm"><span class="home">&nbsp;&nbsp;&nbsp;</span></a> -->
        </li>
        <li><a href="zdgk/index.htm"><span>首页</span></a>
            <ul> <li><a href="zdgk/zdgk01/index.htm">天猫</a></li>
                 <li><a href="zdgk/zdgk02/index.htm">京东</a></li>
                 <li><a href="zdgk/zdgk03/index.htm">淘宝</a></li>
                 <li><a href="zdgk/zdgk04/index.htm">唯品会</a></li>
                 <li><a href="zdgk/zdgk06/index.htm">拼多多</a></li>
                 <li><a href="zdgk/zdgk07/index.htm">小红书</a></li>
                 <li><a href="zdgk/zdgk05/index.htm">闲鱼</a></li>
                 <!-- <li><a href="zdgk/zdgk08/index.htm">中大图志</a></li> -->
           </ul>
        </li>
        <li><a href="yx/index.htm"><span>页面介绍</span></a>
        </li>
        <li><a href="xksz/index.htm"><span>购物分类</span></a>
           <ul>
              <li><a href="xksz/xksz01/index.htm">日用品</a></li>
              <li><a href="xksz/xksz02/index.htm">饮食</a></li>
              <li><a href="xksz/xksz03/index.htm">电子产品</a></li>
           </ul>
        </li>
        <li><a href="jyjx/index.htm"><span>加入我们</span></a>
           <ul>
              <li><a href="jyjx/jyjx01/index.htm">本科教育</a></li>
              <li><a href="jyjx/jyjx02/index.htm">研究生教育</a></li>
              <li><a href="jyjx/jyjx03/index.htm">国际教育</a></li>
              <li><a href="jyjx/jyjx04/index.htm">继续教育</a></li>
           </ul>
        </li>
        <li><a href="xyjj/index.htm"><span>校友与基金</span></a>
        </li>
        <li>
            <form method="POST" action="/submit-form">
                <input type="text" id="inputData" name="inputData">
                <button type="submit">Submit</button>
            </form>
        </li>
       </ul>
       {% block mainbody %}
       {% endblock %}
</body>
</html>